@page "/Cart"
@using Entities
@using Contracts
@using System.Collections
@inject IOrderService OrderCart

<h3>Cart</h3>

@if (orders == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (orders.Count==0)
{
    <p>
        <em>No orders exist.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Order ID</th> <th>Client ID</th> <th>Item</th> <th>Completed?</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Order o in orders)
        {
            <tr>
                <td>@o.orderId</td> <td>@o.clientId</td> <td>@o.item</td> <td>@o.iscompleted</td>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    private IList<Order> orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderCart.GetAllOrdersAsync();
    }
}