@page "/Cart"
@using Entities
@using Contracts
@using System.Collections
@inject IOrderService OrderCart


<!--TODO: replace order with products &Aacute;add order history at the bottom -->
@if (orders == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (orders.Count==0)
{
    <p>
        <em>No orders exist.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th> <th>Description</th> <th>Price</th> <th>Size:l|w|h</th> <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Order o in orders)
        {
            if (!o.iscompleted)
            {
                foreach (Product p in o._products)
                {
                    <tr>
                        <td>@p.name</td> <td>@p.description</td> <td>@p.value</td> <td>@p.length|@p.width|@p.height</td>
                        <td><button @onclick="()=>RemoveProductFromOrder(o,p)">X</button></td>
                    </tr>
                }
                break;
            }
        }
        </tbody>
    </table>
}


@code {
    private IList<Order> orders;

    private async Task RemoveProductFromOrder(Order order, Product product)
    {
        order._products.Remove(product);
       await OrderCart.UpdateOrderAsync(order);
    }

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderCart.GetAllOrdersAsync();
    }
}